/* ESTILOS DEL MAIN */
@use '../mixins/responsive.scss' as *;
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(tablet){
        display: flex;
     flex-direction: row;
     justify-content: center;
        }
        
}