@use '../mixins/responsive.scss' as *;
.perfume{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    @include responsive(tablet){
        border-bottom-left-radius: 5%;
        border-top-right-radius: 0%;
        width: 300px;
}
}