.title{
    font-size: 15px;
    font-family: var(--font-montserrat);
    font-weight:lighter;
    color: var(--color-azul-claro);
    letter-spacing: 5px;
}
.name{
    font-size:40px;
    font-family: var(--font-fraunces);
}
