:root {
  /* Variables CSS */
  --color-green:rgba(61, 129, 104, 1);
  --color-azul-claro:rgba(108, 114, 137, 1);
  --font-fraunces:'Fraunces', serif;
  --font-montserrat: 'Montserrat', sans-serif;

}

/* Variables SASS */
